# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE/Editor Settings
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Test/coverage
.coverage
pytest_cache/
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
